<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app with node and socket</title>
</head>
<body>
    <h1>My Super awesome chat app</h1>
    <main id="app">
      <form>
        <!-- put css here for here later -->
        <label for="message">Somethin to say?</label>
        <textarea  v-model="message" id="textarea" autocomplete="off" class="message"></textarea>
        <!-- Do not do override the default button. This is a event modifier! -->
        <input @click.prevent="dispatchMessage" type="submit" value="Go!">

        <section class="messages">
          <ul id="messages">
            <!-- render a new component for every chat message we receive -->
            <newmsg v-for="message in messages" :msg="message"></newmsg>
          </ul>
        </section>
      </form>
    </main>
    <!-- adding the socket -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>